@import "syntax.css";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  font:16px "Source Sans Pro", "DejaVu Sans", sans-serif;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size: 24px;
}

h2 {
  font-weight: bold;
  font-size: inherit;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
  font-style: italic;
}

ul {
 list-style-type:circle;
 padding-left:0;
}

ol {
 padding-left:0;
}

pre, code {
  font-family:"Source Code Pro", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", mono;
}

li pre, p pre, p code, li code {
  border: 1px solid #d0d0d0;
  border-radius: 1px;
}

pre, blockquote {
  padding-left: 1em;
  margin-left: 0em;
  border-left:3px solid #aaaaaa;
}

li {
  margin-left: 1em;
}

a {
  text-decoration: none;
}

section {
  padding-left: 1.5em;
  max-width: 75ex;
}

hr {
  border:0;
  background:#aaaaaa;
  height:1px;
  margin:0 0 16px;
}
