---
title: "Gray Calhoun's website"
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
<div class="container-fluid">

<div class="row-fluid">
  <div class="span12">
    <div class="page-header" align = "center">
      <h1>gray.clhn.co: {{ page.title }}</h1>
    </div>
</div></div>

<div class="row-fluid">
  <div class="span3">  <a name="Information"> </a>
    <h1 align="center">Information</h1><hr> <p>I'm Gray Calhoun, an Assistant
    Professor in the Economics Department at Iowa State.  I work on
    Econometric theory, especially time series and applications to
    forecasting and forecast evaluation.  I graduated with a PhD from
    UC San Diego in 2009, where I worked with Graham Elliott and Allan
    Timmermann. My homepage has moved recently, but should stay here
    for a while.</p>
    <hr>
    <ul class="unstyled">
      <li><a href="/cv">Curriculum Vitae</a></li>
      <li><a href="http://www.pseudotrue.com">www.pseudotrue.com</a> (my blog)</li>
      <li><a href="/blog">Other notes</a> (to be merged sometime)</li>
      <li><a href="/about">Personal information</a> and links</li>
      <li><a href="/rss.xml">Site feed</a> (as XML) and
	<a href="/102/rss.xml">Econ 102 feed</a></li>
      <li>Jump to <a href="/#Teaching">Teaching</a>, <a href="/#Research">Research</a>, 
	or <a href="/#Software">Software</a> (for mobile)</li>
      <li><h3>Contact Information</h3><ul>
	  <li>{% include univ_office %} (office at Iowa State)</li>
	  <li>{% include univ_phone %} (office phone)</li>
	  <li><a href="mailto:{% include univ_email %}">{% include univ_email %}</a> (unviersity email)</li>
	  <li><a href="mailto:{% include main_email %}">{% include main_email %}</a> (all other email and IM)</li>
	  <li><a href="https://twitter.com/pseut">@pseut</a> (Twitter)</li>
	  <li>Office hours: 3-4 Monday and Wednesday (Spring 2013).</li>
      </ul></li>
    </ul><hr>
  </div>

  <a name="Teaching"> </a>
  <div class="span3"><h1 align="center">Teaching</h1><hr>
    <ul class="unstyled">
      <li><strong>PhD Econometrics 1 (Econ 671)</strong>
	<p>I teach PhD Econometrics 1 (Economics 671) in the Fall:
	 <a href="/671">course page</a> and
	  <a href="/671/2012/syllabus">syllabus</a> for 2012.</p></li>
      
      <li><strong>Principles of Macroeconomics (Econ 102)</strong>
	<p>I am teaching Principles of Macroeconomics (Econ 102) in Spring,
	  2013.  Course material is on
	  <a href="https://bb.its.iastate.edu">BlackBoard Learn</a>, but the
	  <a href="/102/2013/syllabus">syllabus</a> is on this website
	  as well.  <a href="/102/rss.xml">This RSS feed has new
	  handouts</a>.</p></li>
	
      <li><strong>PhD Macroeconometrics (Econ 674)</strong>
	<p>Helle Bunzel and I will teach PhD Macroeconometrics
	  (Economics 674) in Spring,
	  2013.  <a href="/674/2013/syllabus">The syllabus is
	  available here</a>.</p></li>

      <li><p><strong>Courses before Fall, 2012</strong> are not
	online. Please contact me if you need material.</p></li>
    </ul><hr></div>

  <a name="Research"> </a>
  <div class="span3">
    <h1 align="center">Research</h1><hr>
    <h2>Publications:</h2>
    <ul class="unstyled">
      <li><p>Please see my <a href="/cv#papers">CV</a> for a list of
      published papers with links.</p></li>
      <li><p>Citations and other information at 
	<a href="http://ideas.repec.org/f/pca491.html">
	  IDEAS</a> and 
	<a href="http://scholar.google.com/citations?hl=en&user=OS8d9ycAAAAJ">
	  Google Scholar</a></p></li>
    </ul>
    <hr>
    <h2>Current working papers:</h2>
    <ul class="unstyled">
      {% for doc in site.categories.research %} {% if doc.tags contains 'working' %}
      <li><p> <strong>{{ doc.title }}</strong>. {{ doc.info }}
	  <ul><li><a href="{{ doc.url }}">More details</a></li>
	    <li><a href="{{ doc.link }}">Download the paper</a> 
	      (external link)</li></ul>
      </p></li>
      {% endif %}{% endfor %}
    </ul>
    <hr>
  </div>

  <a name="Software"> </a>
  <div class="span3"><h1 align="center">Software</h1><hr>
    <p>Only stand-alone software packages are listed here.  Follow
      this link for <a href="/cv#papers">source code for my publications</a>
      and go to the details of each working paper for that paper's source
      code.</p>

    <p>These projects, and others, are avaiable at
      <a href="http://github.com/gcalhoun">http://github.com/gcalhoun</a>.

    <ul class="unstyled">
      {% for doc in site.categories.research %} {% if doc.tags contains 'software' %}
      <li><p> <strong>{{ doc.title }}</strong>.  {{ doc.info }}  
	  <ul>
	    <li><a href="{{ doc.url }}">Details</a></li>
	    <li><a href="{{ doc.link }}">Download the source code</a> 
	      (at Github)</li>
	  </ul>
      </p></li>
      
      {% endif %}{% endfor %}
    </ul><hr>
  </div>
</div>

<div class="row-fluid">
  <div class="span12"><hr></div>
</div>

</div> <!-- /container -->

{% include footer.html %}

</body>
</html>
