<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
    <style>li {margin-left: 0em} li li {margin-left: 1em}</style>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
	<h1>{{ page.title }}</h1>
	<hr>
	{{ content }}
	<hr>
	<p>
	  <a href="/">Home</a> //
	  <a href="https://github.com/grayclhn/grayclhn.github.io/issues/new">New comment</a> //
	  <a href="https://github.com/grayclhn/grayclhn.github.io/issues">Forum</a>
	</p>
      </section>
    </div>
  </body>
</html>
