<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.main }}/feed.xml" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
	{{ content }}

	<p align="right">— {{ page.author }}{% if page.date %}, {{ page.date | date_to_string }}{% endif %}</p>

	<hr />

	{% include cc.html %}

	<p><a href="{{ site.url }}/">Home</a></p>
      </section>
    </div>
  </body>
</html>
